.team
  .team__title Our Awesome People
  .team__member-list
    each user in data.team
      .team__member
        img.team__avatar(
          src=`${baseUrl}asset/image/team/${user.avatar}`
          alt=`Image of ${user.name}, who is a ${user.job} at BitBee Ltd`
        )
        .team__name= user.name
        .team__job= user.job
